<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Cells" version="19.10.0" targetFramework="net451" />
  <package id="Aspose.Words" version="20.1.0" targetFramework="net451" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net461" requireReinstallation="true" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" targetFramework="net461" />
  <package id="ExcelLibrary" version="1.2011.7.31" targetFramework="net461" />
  <package id="log4net" version="2.0.10" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="NPOI" version="2.5.1" targetFramework="net461" requireReinstallation="true" />
  <package id="Portable.BouncyCastle" version="1.8.6" targetFramework="net461" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net461" requireReinstallation="true" />
  <package id="Spire.XLS" version="10.7.2" targetFramework="net461" />
  <package id="WeifenLuo.WinFormsUI.Docking" version="2.1.0" targetFramework="net472" />
</packages>